<h2 class ="w-30 text-center mt-4 p-2 border-bottom font-weight-bold">ユーザー</h2>
<div class="users-list d-flex justify-content-center ">
  <ul class="list-group w-100 text-center col-md-7">
    <%= paginate @users %>
    <% @users.each do |user| %>
        <li class="list-group-item">
          <%= image_tag user.avatar&.url, size: '40x40', class: 'user-icon mr-4' %>
          <%= link_to user.name, user %>
        </li>
      <% end %>
    <%= paginate @users %>
  </ul>
</div>

