/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 * {
   list-style: none;
   font-size: 1.1rem;
   text-decoration: none 
 }
 .navbar-nav {
   li {
     margin-right: 30px;
   }
 }

 .card-body {
  ul li {
    margin-bottom: 10px;
  }
}
.user-icon {
  border-radius: 50%;
}
.message {
  p {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.nav-pills .nav-link.active{
  background-color: #ffc107;
}
.nav-pills .nav-link{
  color: black;
  background-color: rgba(0, 0, 0, 0.03);
  font-weight: bold;
}