@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  list-style: none;
  font-size: 1.1rem;
  text-decoration: none 
}

.hidden {
  display: none;
}

.main-container, .card, .users-list, .barChart {
  max-width: 750px;
}

.card {
  margin: auto;
  margin-top: 3rem;
  .card-body {
    margin: auto;
    padding:0 0 0.5rem 0;
    width: 70%;
  }
  .card-header {
    font-weight: bold;
    text-align: center;
  }
}

.title {
  text-align: center;
  padding-bottom: 0.8rem;
  border-bottom: solid 1px #dee2e6 ;
  font-weight: bold;
}

.navbar-nav {
   li {
     margin-right: 20px;
   }
 }

.user-icon {
  border-radius: 50%;
}
.message {
  p {
    font-size: 0.8em;
    line-height: 0.8em;
    text-align: center;
  }
}

.nav-pills .nav-link.active{
  background-color: #ffc107;
}
.nav-pills .nav-link{
  color: black;
  background-color: rgba(0, 0, 0, 0.03);
  font-weight: bold;
}
.nav-tabs {
  border: none;
  justify-content: center;
  text-align: center;
}
.moneyNew, .modal-body {
  width: 60%;
  margin: auto;
  ul {
    padding: 0;
    li {
      // font-size: 1.5rem;
      input, select{
        width: 100%;
      }
      select {
        padding: 0.3rem 0;
      }
      label {
        margin: 0;
      }
      button {
        width: 100%;
        font-weight: bold;
        margin-top: 1.3rem;
      }
    }
  }
}
.tab-content {
  justify-content: center;
}

/*--------ページネーション-----------*/
.pagination {
  justify-content: center;
  margin: 10px 0;
}

.pagination>li>a {          
  border: none;     
  color: #696969;
  padding: 0.4rem 0.75rem;
}

.page-item.active .page-link {
  background-color: #ffc107;
  border-color: #ffc107;
  border-radius: 50%; 
}

.pagination>li>a:hover {        
  border-radius: 50%;   
  box-sizing:border-box;
  color: #696969;
}


/*--------入出金履歴-----------*/
.money_history {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  .money_index {
    max-height: 330px;
    overflow: scroll;
    width: 50%;
    table tr {
      overflow-x: auto;
      white-space: nowrap;
      td{
      border-bottom: solid 1px #a0a0a0;
      height: 2.5em;
      padding-right: 1.5rem;
      }
    }
  }
}

/*--------棒グラフ-----------*/

.barChart {
  position: relative;
  height: 50vh;
}


/*---------average出典----------*/
.quote {
  margin-top: 2rem;
  ul {
    padding-left: 5rem;
    li {
      font-size: 0.7rem;
      a {
        font-size: 0.7rem;
      }
    }
  } 
} 
/*---------average注釈----------*/

.annotation p {
  font-size: 0.7rem;
}

/*-------------------*/
#expenses-graph, #incomes-graph {
  width: 50%;
}


/*---------履歴の詳細クリック用----------*/
tbody tr.clickable:hover td {
  background: #ffeaa9;
  cursor: pointer;
}

/*---------目標のテーブル----------*/
.idea {
  // text-align: end;
  table {
    width: 100%;
    margin-top: 1.2rem;
    tr:nth-child(odd) td {
      background: #ffe597;
    }
    th:nth-child(1) {
      width: 20%;
    }
    th:nth-child(2) {
      width: 35%;
    }
    th:nth-child(3) {
      width: 15%;
    }
    th:nth-child(4) {
      width: 20%;
    }
    th:nth-child(5) {
      width: 10%;
    }
    tr {
      text-align: center;
      padding-right: 1.5rem;
      th {
        background-color: #ffc107;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border: solid 1px #c9c9c9;
      }
      td {
        border: solid 1px #c9c9c9;
        padding: 0 0.5rem;
      }
    }
  }
  ideaBtn {
    text-align: end;
  }
  button {
    margin-top: 0.5rem;
    font-weight: bold;
  }
}

.goal {
  width: 70%;
  text-align: end;
  margin: auto;
  margin-top: 1.2rem;
  h2 {
    text-align: center;
    border-bottom: solid 1px black;
  }
  .goalBtn {
    font-weight: bold;
  }
}